:root {
  /* FONTS */
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  --brand-cl: #4d5ae5;
  --accent-cl: #404bbf;

  /* TXT COLORS */
  --body-txt-cl: #434455;
  --title-txt-cl: #2e2f42;
  --light-txt-cl: #ffffff;

  /* BG COLORS */
  --light-bg: #f4f4fd;
  --dark-bg: #2e2f42;

  /* BUTTON */
  --border-bnt: #e7e9fc;

  /* CARDS */
  --border-cards-bg: #e7e9fc;
}

/**
  |============================
  | Base style
  |============================
*/

body {
  font-family: var(--main-font);
  font-size: 16px;
  color: var(--body-txt-cl);
}

/**
  |============================
  | Reset
  |============================
*/

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/**
  |============================
  | Common
  |============================
*/

.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--title-txt-cl);
}

.header-logo,
.footer-logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-cl);
}

/**
  |============================
  | Header style
  |============================
*/

.header-logo-dark {
  color: var(--title-txt-cl);
}

.header-nav-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-txt-cl);
}

.header-address {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-txt-cl);
}

.header-address-link {
  color: currentColor;
}

.header-nav-link:hover,
.header-nav-link:focus,
.header-address-link:hover,
.header-address-link:focus {
  color: var(--accent-cl);
}

/**
  |============================
  | MAIN PAGE
  |============================
*/

/* Hero section */

.hero-section {
  background-color: var(--dark-bg);
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--light-txt-cl);
}

.hero-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--light-txt-cl);

  background-color: var(--brand-cl);

  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  color: var(--light-txt-cl);

  background-color: var(--accent-cl);
}

/* Features section */

.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-txt-cl);
}

.features-desc {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Team section */

.team-section {
  background-color: var(--light-bg);
}

.team-list-item {
  --light-bg: #ffffff;

  background-color: var(--light-bg);
}

.team-prs-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--title-txt-cl);
}

.team-prs-position {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

/**
  |============================
  | Footer style
  |============================
*/

.footer {
  background-color: var(--dark-bg);
}

.footer-desc {
  --light-txt-cl: #f4f4fd;

  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-txt-cl);
}

.footer-logo-light {
  --light-txt-cl: #f4f4fd;

  color: var(--light-txt-cl);
}

/**
  |============================
  | PORTFOLIO PAGE
  |============================
*/

.filters-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--brand-cl);

  background-color: var(--light-bg);

  cursor: pointer;
}

.filters-btn:hover,
.filters-btn:focus {
  color: var(--light-txt-cl);

  background-color: var(--accent-cl);
}

.portfolio-list-item {
  --light-bg: #ffffff;

  background-color: var(--light-bg);
}

.portfolio-cards-desc {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-txt-cl);
}

.portfolio-cards-category {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-txt-cl);
}
